@font-face {
  font-family: "Certa";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/CertaSans-Medium/CertaSans-Medium.eot");
  src: url("../fonts/CertaSans-Medium/CertaSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CertaSans-Medium/CertaSans-Medium.woff") format("woff"), url("../fonts/CertaSans-Medium/CertaSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Bebas";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Bebas/BebasNeueRegular.eot");
  src: url("../fonts/Bebas/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas/BebasNeueRegular.woff") format("woff"), url("../fonts/Bebas/BebasNeueRegular.ttf") format("truetype"); }

@font-face {
  font-family: "Bebas";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Bebas/BebasNeueBold.eot");
  src: url("../fonts/Bebas/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas/BebasNeueBold.woff") format("woff"), url("../fonts/Bebas/BebasNeueBold.ttf") format("truetype"); }

@font-face {
  font-family: "Museo";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Museo/MuseoSansCyrl-300.eot");
  src: url("../fonts/Museo/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/Museo/MuseoSansCyrl-300.ttf") format("truetype"); }

@font-face {
  font-family: "Museo";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Museo/MuseoSansCyrl-700.eot");
  src: url("../fonts/Museo/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/Museo/MuseoSansCyrl-700.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Certa", sans-serif;
  font-weight: normal;
  color: #4f4e4e;
  background: #fcf8e3; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Bebas", sans-serif;
  text-align: center;
  border-radius: 50px;
  -webkit-box-shadow: 0 7px 29px 0 rgba(255, 255, 254, 0.92), inset 0 3px 10px 0 rgba(180, 175, 167, 0.85);
          box-shadow: 0 7px 29px 0 rgba(255, 255, 254, 0.92), inset 0 3px 10px 0 rgba(180, 175, 167, 0.85);
  height: 100px;
  border: none;
  background: #fff;
  color: #4f4e4e;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 25px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #4f4e4e; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #4f4e4e; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #4f4e4e; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #4f4e4e; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none; }

label {
  display: block; }

h1 {
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  font-size: 70.5px;
  letter-spacing: -2.82px;
  margin: 0 0 46px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  h1:before {
    content: '';
    position: absolute;
    width: 92px;
    height: 90px;
    background: url("../img/heart.png") no-repeat center;
      background-size: 100%;
    right: -60px;
    top: -60px; }

h2 {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: 500; }

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  button:hover, button:focus {
    outline: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 63px 18px 122px;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.btn-accent {
  background: #fe7b56 url("../img/btn-img.png") no-repeat calc(50% - 215px) center;
  -webkit-box-shadow: inset 0 0 15px white, inset 0 0 15px rgba(255, 255, 255, 0.5), 0 30px 50px rgba(132, 56, 35, 0.4);
          box-shadow: inset 0 0 15px white, inset 0 0 15px rgba(255, 255, 255, 0.5), 0 30px 50px rgba(132, 56, 35, 0.4);
  border-bottom: 7px solid #c35333;
  color: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.btn-title {
  font-size: 30.5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.05px;
  display: block;
  text-shadow: 0px 4px 1px rgba(195, 83, 51, 0.61);
  font-family: "Bebas", sans-serif;
  margin: 0 0 6px; }

.btn-text {
  color: #9f4c35;
  font-weight: 500;
  font-size: 21.5px;
  letter-spacing: -0.86px;
  font-style: italic; }

header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 37px 0; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.subtitle-header {
  max-width: 460px;
  width: 100%;
  text-transform: uppercase;
  color: #7b7b7b;
  font-size: 19.5px;
  letter-spacing: 0.39px; }
  .subtitle-header span {
    color: #4f4e4e; }

.part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #f97a5b;
  background: #fff;
  font-size: 63.5px;
  font-weight: bold;
  font-family: "Bebas", sans-serif;
  text-shadow: 0px 3px 5px rgba(188, 87, 63, 0.71);
  padding: 20px 32px 13px;
  -webkit-box-shadow: 0px 7px 27px 0 rgba(68, 68, 68, 0.22);
          box-shadow: 0px 7px 27px 0 rgba(68, 68, 68, 0.22);
  border-radius: 5px; }

main {
  background: #fcf8e3 url("../img/bg1.png") no-repeat center top;
    background-size: cover;
  padding: 222px 0 0; }

.main-content {
  max-width: 486px;
  width: 100%; }
  .main-content h3 {
    margin: 0 0 41px;
    font-size: 36px;
    font-weight: normal;
    font-family: "Bebas", sans-serif;
    line-height: 1.39;
    letter-spacing: 0.72px;
    color: #333; }

.text-decor {
  position: relative;
  margin: 0 10px;
  display: inline-block; }
  .text-decor:before {
    content: '';
    position: absolute;
    width: 158px;
    height: 53px;
    left: 50%;
    top: -10px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: url("../img/decor-text.png") no-repeat center;
      background-size: 100%; }

.main-img {
  max-width: 569px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  margin: 0 0 0 25px; }

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 78px 0 65px;
  font-size: 19.5px;
  font-weight: 500;
  color: #b8a09b;
  letter-spacing: 0.39px; }

.info-icon {
  margin: 0 15px 0 0;
  width: 32px;
  min-width: 32px; }

.strengthening {
  z-index: 1;
  position: relative;
  padding: 85px 0 0;
  background: url("../img/bg.jpg") no-repeat center;
    background-size: cover; }
  .strengthening:before {
    content: '';
    position: absolute;
    width: 159px;
    height: 244px;
    right: 342px;
    bottom: -100px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: contain; }

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.strengthening-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 940px;
  margin: 0 -140px 0 -90px; }

.strengthening-content {
  max-width: 570px;
  width: 100%;
  font-size: 26.5px;
  margin: 0 0 0 -40px; }
  .strengthening-content .box-text {
    letter-spacing: -1.06px; }
  .strengthening-content p {
    margin: 0 0 30px; }
    .strengthening-content p:last-child {
      margin: 0; }
  .strengthening-content h3 {
    color: #fff;
    background: #fe7b56;
    border-radius: 5px;
    -webkit-box-shadow: 4.2px 5.6px 13px 0 rgba(163, 131, 123, 0.11);
            box-shadow: 4.2px 5.6px 13px 0 rgba(163, 131, 123, 0.11);
    padding: 2px 10px;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: -1.44px; }

.advantages {
  padding: 175px 0 144px;
  background: #f97a5b;
  color: #fff;
  position: relative; }
  .advantages:before {
    content: '';
    position: absolute;
    width: 384px;
    height: 400px;
    background: url("../img/key.png") no-repeat center;
      background-size: contain;
    bottom: -100px;
    left: -20px; }
  .advantages .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantages .wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .advantages h2 {
    position: relative;
    max-width: 995px;
    margin: 0 auto;
    font-size: 41.5px;
    letter-spacing: -1.66px; }
    .advantages h2:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: -87px;
      width: 87px;
      height: 87px;
      background: url("../img/heart2.png") no-repeat center;
        background-size: contain; }
  .advantages h3 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 30px auto 69px;
    font-size: 36px;
    font-family: "Bebas", sans-serif; }

.advantages-box {
  margin: 0 0 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 500;
  max-width: 26%;
  width: 100%; }

.advantages-box__icon {
  margin: 0 auto 36px;
  height: 238px; }

.marathon {
  background: url("../img/bg3.jpg") no-repeat center;
    background-size: cover;
  padding: 176px 0 156px; }
  .marathon h2 {
    font-size: 41.5px;
    color: #df493c;
    letter-spacing: -0.83px;
    font-weight: 500;
    text-align: left;
    margin: 0 0 35px; }

.list-decor {
  font-size: 25px;
  font-weight: 500; }
  .list-decor li {
    position: relative;
    padding: 0 0 0 30px;
    margin: 0 0 10px; }
    .list-decor li:last-child {
      margin: 0; }
    .list-decor li:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-left: 12px solid #e28981;
      border-bottom: 7px solid transparent;
      left: 0;
      top: 5px; }

.marathon-wrapper {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 69px; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form label {
    max-width: 345px;
    width: 100%;
    margin: 0 20px 0 0; }

.marathon-content {
  width: 50%;
  padding: 50px 45px 58px 45px; }
  .marathon-content .text-decor:before {
    background: url("../img/decor-text1.png") no-repeat center;
      background-size: cover;
    width: 144px;
    height: 40px;
    top: -7px; }

.marathon-img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px -5px 0 0; }

.author {
  position: relative;
  padding: 135px 0 0;
  background: url("../img/bg2.png") no-repeat center top;
    background-size: cover;
  color: #fff; }
  .author .container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.author-img {
  max-width: 590px;
  width: 100%;
  margin: 0 0 0 -70px; }

.author-content {
  max-width: 775px;
  width: 100%;
  margin: 20px -70px 0 0; }
  .author-content h2 {
    font-size: 41.5px;
    font-weight: 500;
    text-align: left;
    letter-spacing: -0.83px;
    z-index: 1;
    margin: 0 0 48px; }
  .author-content .text-decor {
    position: relative;
    z-index: 1; }
    .author-content .text-decor:before {
      width: 202px;
      height: 82px;
      background: url("../img/decor-text2.png") no-repeat center;
        background-size: contain;
      left: auto;
      top: -20px;
      -webkit-transform: none;
              transform: none;
      right: 20px;
      z-index: -1; }

.list-arrow {
  letter-spacing: -0.53px;
  font-size: 26.5px;
  font-weight: 500; }
  .list-arrow li {
    position: relative;
    padding: 0 0 0 45px;
    max-width: 510px;
    margin: 0 0 30px; }
    .list-arrow li:last-child {
      margin: 0; }
    .list-arrow li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 25px;
      height: 21px;
      background: url("../img/down-arrow.png") no-repeat center;
        background-size: cover; }

.history {
  background: #fcf8e3;
  padding: 55px 0 95px; }
  .history h2 {
    margin: 0 auto 26px;
    font-size: 50px;
    font-weight: 500;
    text-align: center; }

.history-slider {
  width: 100%; }
  .history-slider .slide {
    padding: 60px 0 37px;
    opacity: 0.44; }
  .history-slider .slick-center {
    opacity: 1; }
    .history-slider .slick-center .history-slider-box:before {
      content: '';
      width: 79px;
      height: 52px;
      position: absolute;
      background: url("../img/decor3.png") no-repeat center;
        background-size: cover;
      left: -30px;
      bottom: -30px; }
    .history-slider .slick-center .history-slider-box:after {
      content: "";
      position: absolute;
      width: 165px;
      height: 227px;
      background: url("../img/decor2.png") no-repeat center;
        background-size: cover;
      top: -60px;
      right: -60px; }

.history-slider-box {
  background: #fff;
  padding: 72px 45px 45px 54px;
  border-radius: 10px;
  width: 639px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Museo", sans-serif;
  font-weight: 300;
  margin: 0 15px;
  position: relative; }

.history-slider-box__photo {
  border-radius: 50%;
  width: 109px;
  height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -120px auto 0;
  overflow: hidden; }

.history-slider-box__body {
  color: #262626;
  font-size: 19px;
  line-height: 1.48;
  letter-spacing: 0.38px;
  margin: 28px 0 0; }

.history-slider-box__user {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.18;
  letter-spacing: 0.36px;
  color: #7e7e7e; }
  .history-slider-box__user h3 {
    font-size: 21px;
    line-height: 1.48;
    letter-spacing: 0.42px;
    color: #000000;
    font-weight: bold; }

.history-slider__nav {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slick-dots {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .slick-dots li {
    margin: 0 19px 0 0;
    width: 13px;
    height: 13px;
    background: #b6a099;
    border-radius: 50%;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #fe6d48; }

.slick-slide {
  outline: none; }

.slick-arrow {
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0 9px 21px 0 rgba(65, 44, 87, 0.2);
          box-shadow: 0 9px 21px 0 rgba(65, 44, 87, 0.2);
  background: -webkit-gradient(linear, left bottom, left top, from(#fe6d48), to(#ff977d));
  background: linear-gradient(to top, #fe6d48, #ff977d);
  cursor: pointer;
  outline: none;
  z-index: 1;
  opacity: 1;
  position: relative;
  left: 0;
  top: 0;
  -webkit-transform: none;
          transform: none;
  right: 0;
  border-radius: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .slick-arrow:before {
    content: '';
    width: 26px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; }
  .slick-arrow:hover, .slick-arrow:focus {
    background: -webkit-gradient(linear, left bottom, left top, from(#fe6d48), to(#ff977d));
    background: linear-gradient(to top, #fe6d48, #ff977d); }

.slick-prev:before {
  background: url("../img/left.png") no-repeat center;
    background-size: 26px; }

.slick-next {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  .slick-next:before {
    background: url("../img/right.png") no-repeat center;
      background-size: 26px; }

.callback {
  position: relative; }
  .callback:before {
    content: '';
    position: absolute;
    width: 193px;
    height: 139px;
    background: url("../img/decor4.png") no-repeat center;
      background-size: cover;
    bottom: 0;
    right: 100px;
    z-index: 1; }
  .callback .container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.callback-content {
  width: 50%;
  position: relative;
  padding: 114px 10px 89px 68px; }
  .callback-content h2 {
    text-align: left;
    margin: 0 0 22px;
    font-size: 41.5px;
    color: #393838;
    font-style: italic;
    letter-spacing: -0.83px;
    font-weight: 500; }
    .callback-content h2 .text-decor:before {
      width: 194px;
      height: 4px;
      background: url("../img/line-decor.png") no-repeat center;
        background-size: 100%;
      top: auto;
      bottom: 0; }
  .callback-content .box-text {
    font-size: 22px;
    margin: 0 0 36px;
    letter-spacing: -0.44px; }
  .callback-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1400px;
    height: 100%;
    -webkit-box-shadow: -11px 0px 33px 0 rgba(56, 56, 56, 0.18);
            box-shadow: -11px 0px 33px 0 rgba(56, 56, 56, 0.18);
    background-color: #fcf8e3; }
  .callback-content:after {
    content: '';
    position: absolute;
    width: 56px;
    height: 94px;
    background: url("../img/decor5.png") no-repeat center;
      background-size: cover;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: -28px; }
  .callback-content > * {
    position: relative;
    z-index: 1; }
  .callback-content .form {
    max-width: 325px;
    width: 100%;
    margin: 0; }
    .callback-content .form input {
      background: #fffdf2;
      height: 83px;
      font-size: 24.5px; }
      .callback-content .form input::-webkit-input-placeholder {
        color: #747474; }
      .callback-content .form input::-moz-placeholder {
        color: #747474; }
      .callback-content .form input::-ms-input-placeholder {
        color: #747474; }
      .callback-content .form input::placeholder {
        color: #747474; }
    .callback-content .form label {
      margin: 0 0 15px; }
    .callback-content .form .btn-title {
      font-size: 24.5px; }
    .callback-content .form .btn-accent {
      padding: 14px 40px 14px 90px;
      background: #fe7b56 url("../img/btn-img.png") no-repeat calc(50% - 185px) center;
        background-size: 75%;
      margin: 0; }
    .callback-content .form .btn-text {
      font-size: 17px; }

.callback-img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .callback-img img {
    min-width: 901px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1350px) {
  .author-img {
    max-width: 400px; }
  .author-content {
    margin: 0 0 30px; }
  .advantages:before {
    width: 260px;
    height: 300px; }
  .strengthening-img {
    width: 840px; }
  .strengthening:before {
    right: 100px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) {
  .list-arrow li {
    max-width: none; }
  .author-content {
    max-width: 620px; }
    .author-content h2 {
      margin: 0 0 30px; }
  .list-decor {
    font-size: 20px; }
  .marathon-content {
    padding: 30px; }
  .marathon h2 {
    font-size: 30px;
    margin: 0 0 30px; }
  .form label {
    max-width: 280px; }
  input {
    height: 80px;
    font-size: 20px; }
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px; }
  .btn-title {
    font-size: 26px;
    margin: 0 0 4px; }
  .marathon {
    padding: 60px 0; }
  .advantages-box {
    max-width: 33.3%;
    font-size: 24px; }
  .advantages-box__icon {
    margin: 0 auto 20px; }
  .strengthening-img {
    width: 700px; }
  .strengthening-content {
    font-size: 20px;
    max-width: 450px; }
    .strengthening-content p {
      margin: 0 0 20px; }
    .strengthening-content h3 {
      font-size: 26px;
      margin: 0 0 20px; }
  .main-img {
    max-width: 450px; }
  .info-box {
    margin: 30px 0;
    font-size: 18px; }
  .main-content h3 {
    font-size: 30px; }
  .text-decor:before {
    width: 126px;
    height: 50px; } }

@media only screen and (max-width: 992px) {
  .callback-content {
    padding: 30px 10px 30px 30px; }
    .callback-content h2 {
      font-size: 30px; }
    .callback-content .box-text {
      font-size: 18px; }
  .callback-content h2 .text-decor:before {
    width: 150px; }
  .history {
    padding: 40px 0; }
  .history-slider-box {
    width: 400px;
    padding: 40px 30px; }
  .history-slider-box__body {
    font-size: 16px; }
  .history-slider-box__photo {
    margin: -94px auto 0; }
  .history h2, .author-content h2 {
    font-size: 30px; }
  .author-content {
    max-width: none; }
  .list-arrow {
    font-size: 20px; }
    .list-arrow li:before {
      top: 0; }
  .author-img {
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .form label {
    max-width: 48%;
    margin: 0 0 15px; }
  .form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form button {
      margin: 0 auto; }
  .strengthening-img {
    max-width: 600px; }
  .main-img {
    max-width: 280px;
    margin: 0 0 0 auto; }
  main .container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .main-content {
    max-width: 465px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 930px) {
  .marathon-content {
    width: 100%;
    padding: 30px; }
  .marathon-img {
    margin: 0 auto;
    width: 100%; }
  .marathon-wrapper {
    max-width: 440px;
    margin: 0 auto 30px;
    width: 100%; }
  .marathon-content .text-decor:before {
    width: 127px;
    height: 34px; } }

@media only screen and (max-width: 850px) {
  .strengthening-img {
    width: 100%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .strengthening-content {
    max-width: none;
    margin: 20px auto; }
  .strengthening {
    padding: 50px 0 0; }
  h2 {
    font-size: 30px; }
  .strengthening:before {
    display: none; } }

@media only screen and (max-width: 768px) {
  .callback-img {
    display: none; }
  .callback-content {
    width: 100%;
    padding: 0; }
    .callback-content:before {
      display: none; }
    .callback-content .form {
      margin: 0 auto; }
      .callback-content .form .btn-accent {
        padding: 14px 40px 14px 70px;
        background-size: 70%;
        background-position: calc(50% - 165px) center; }
  .callback {
    -webkit-box-shadow: -11px 0px 33px 0 rgba(56, 56, 56, 0.18);
            box-shadow: -11px 0px 33px 0 rgba(56, 56, 56, 0.18);
    padding: 30px 0; }
  .advantages:before {
    display: none; }
  .advantages-box {
    max-width: 50%;
    font-size: 20px;
    margin: 0 0 40px; }
  .advantages h2 {
    font-size: 30px; }
  .advantages h3 {
    font-size: 26px;
    margin: 20px auto 30px; }
  .advantages {
    padding: 100px 0 70px; }
  header {
    padding: 20px 0; }
  .part {
    font-size: 40px; }
  .subtitle-header {
    font-size: 18px;
    max-width: 350px; }
  .main-img {
    position: absolute;
    bottom: 0;
    right: 0; }
  .main-content {
    position: relative;
    z-index: 1; }
  h1 {
    font-size: 60px;
    margin: 0 0 20px; }
  main {
    padding: 180px 0 0; }
  .info-box {
    letter-spacing: 0;
    font-size: 16px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 660px) {
  .form label {
    max-width: none; }
  h1 {
    font-size: 50px; }
  .main-content {
    max-width: 360px; }
    .main-content h3 {
      font-size: 26px; }
  .main-img {
    max-width: 200px; } }

@media only screen and (max-width: 575px) {
  .author-content .text-decor:before {
    width: 140px;
    height: 70px; }
  .text-decor {
    margin: 0 5px; }
  .advantages-box {
    max-width: none; }
  .subtitle-header {
    max-width: none;
    margin: 10px auto 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .part {
    margin: 0 auto; }
  .info-box {
    max-width: 260px; }
    .info-box br {
      display: none; }
  main {
    padding: 220px 0 0; } }

@media only screen and (max-width: 480px) {
  .history-slider-box {
    width: 300px;
    padding: 40px 20px; }
    .history-slider-box:before, .history-slider-box:after {
      display: none; }
  .btn {
    padding: 10px 20px 10px 70px;
    background-position: calc(50% - 160px) center;
    background-size: 70%; }
  .info-box {
    font-size: 14px;
    max-width: 195px; }
  .info-icon {
    width: 25px;
    min-width: 25px; }
  .text-decor:before {
    width: 110px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .main-img {
    position: relative;
    margin: 0 0 0 auto; }
  .info-box {
    max-width: none; }
  .main-content {
    max-width: none; }
  h1 {
    font-size: 40px; } }
