@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (min-width: 992px) and (max-width: 1450px)
  .container
    max-width: 80vw
    padding-left: 0.9375vw
    padding-right: 0.9375vw


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px)
  .callback-img
    max-height: none
    img
      min-width: 900px


@media only screen and (max-width : 1400px)
  .advantages:before
    width: 260px
    height: 300px


@media only screen and (max-width : 1350px)
  .author-img
    max-width: 400px

  .author-content
    margin: 0 0 50px

  .author .container
    align-items: flex-end

  .strengthening-img
    width: 840px

  .strengthening:before
    right: 100px

  .author
    padding: 120px 0 0

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px)
  .list-arrow li
    max-width: none


  .marathon-content
    padding: 30px
    .text-decor:before
      width: 110px
      height: 30px
      -webkit-background-size: 100%
      background-size: 100%

  .marathon h2
    font-size: 34px
    margin: 0 0 30px

  .form label
    max-width: 280px


  input
    height: 96px

  .marathon
    padding: 60px 0 90px


  .advantages-box
    max-width: 33.3%
    font-size: 24px

  .advantages-box__icon
    margin: 0 auto 20px

  .strengthening-img
    width: 700px

  .strengthening-content
    font-size: 22px
    max-width: 450px
    p
      margin: 0 0 20px
    h3
      font-size: 26px
      margin: 0 0 20px

  .main-img
    max-width: 450px

  .info-box
    margin: 30px 0
    font-size: 18px

  .main-content h3
    font-size: 30px

  .text-decor:before
    width: 126px
    height: 50px

  .author-img
    max-width: 350px

@media only screen and (max-width : 1100px)
  .author-img
    max-width: 290px

  .author-content
    max-width: 730px

@media only screen and (max-width : 992px)
  .callback-content h2 .text-decor:before
    width: 150px

  .history
    padding: 40px 0

  .history-slider-box
    width: 400px
    padding: 40px 30px

  .history-slider-box__body
    font-size: 16px

  .history-slider-box__photo
    margin: -94px auto 0

  .history h2, .author-content h2
    font-size: 30px

  .author
    background: #009a7b
    margin: 0
    .container
      flex-wrap: wrap

  .author-content
    max-width: none
    margin: 0 auto 50px
    .text-decor
      &:before
        width: 160px
        height: 70px
    ul
      margin: 0 auto
      max-width: 720px
      width: 100%
    h2
      text-align: center
      margin: 0 0 50px

  .author-img
    order: 1
    margin: 0 auto

  .form label
    max-width: 48%
    margin: 0 0 15px

  .form
    justify-content: space-between
    button
      margin: 0 auto

  .strengthening-img
    max-width: 600px

  .strengthening .wrapper
    flex-wrap: wrap

  main
    .container
      align-items: flex-end

  .main-content
    max-width: 465px

  .callback-img
    display: none

  .callback-content
    width: 100%
    padding: 0
    &:before
      display: none
    .form
      margin: 0 auto
      max-width: 420px
      .btn-accent
        margin: 0 auto
        padding: 18px 63px 18px 122px

      label
        width: 100%
        max-width: none


  .callback
    box-shadow: -11px 0px 33px 0 rgba(56, 56, 56, 0.18)
    padding: 50px 0



  .list-decor
    font-size: 18px

/* Small Devices, Tablets */
@media only screen and (max-width : 930px)
  .marathon-content
    width: 100%
    padding: 30px

  .marathon-img
    margin: 0 auto
    width: 100%

  .marathon-wrapper
    max-width: 440px
    margin: 0 auto 30px
    width: 100%

  .marathon-content .text-decor:before
    width: 90px
    height: 25px
    top: -2px

@media only screen and (max-width : 850px)
  .strengthening-img
    width: 100%
    margin: 0 auto
    order: 1

  .strengthening-content
    max-width: none
    margin: 20px auto

  .strengthening
    padding: 50px 0 0

  h2
    font-size: 9vw

  .strengthening:before
    display: none

@media only screen and (max-width : 768px)

  .advantages:before
    display: none

  .advantages-box
    max-width: 50%
    font-size: 22px
    margin: 0 0 40px

  .advantages h2
    font-size: 30px

  .advantages h3
    font-size: 26px
    margin: 20px auto 30px

  .advantages
    padding: 100px 0 70px

  header
    padding: 20px 0

  .part
    font-size: 40px

  .subtitle-header
    font-size: 18px
    max-width: 350px

  .main-img
    position: absolute
    bottom: 0
    right: 0

  .main-content
    position: relative
    z-index: 1
    padding: 0 0 100px

  h1
    font-size: 60px
    margin: 0 0 20px

  .info-box
    letter-spacing: 0
    font-size: 16px

  .main-img
    width: 50vw
    left: unset
    right: 0

  .main-header .container
    flex-direction: column
    align-items: flex-start

  .part
    order: -1
    margin: 0 0 30px
    font-size: 32px

  main
    padding: 30px 0 0

  .info-box
    margin: 30px 0 0

  .marathon
    padding: 40px 0

  .author
    padding: 40px 0 0

/* Extra Small Devices, Phones */
@media only screen and (max-width : 660px)
  .form
    flex-direction: column
    align-items: center
    label
      max-width: 336px


  //.main-content
  //  max-width: 360px
  //  h3
  //    font-size: 26px


@media only screen and (max-width : 575px)
  .author-content .text-decor:before
    width: 140px
    height: 70px

  .text-decor
    margin: 0 5px

  .advantages-box
    max-width: none

  .subtitle-header
    margin: 0 auto
    text-align: center

  .part
    margin: 0 auto 30px

  .info-box
    br
      display: none

  .main-content
    padding-bottom: 60vw
    max-width: none
    flex-direction: column
    align-items: center
    display: flex
    h3
      text-align: center
      margin: 0 0 30px

  input
    height: 80px

@media only screen and (max-width : 480px)
  .history-slider-box
    width: 300px
    padding: 40px 20px
    &:before, &:after
      display: none

  .btn, .callback-content .form .btn-accent
    width: calc(100% - 4px)
    padding: 14px 14vw 14px 30vw
    background-position: -160px center

  .callback-content .form .btn-accent
    -webkit-background-size: 280px
    background-size: 280px

  .btn-title, .callback-content .form .btn-title
    font-size: 5vw

  .btn-text, .callback-content .form .btn-text
    font-size: 6vw


  .info-icon
    width: 25px
    min-width: 25px

  .text-decor:before
    width: 110px

  h1
    font-size: 15vw

  .main-content
    h3
      font-size: 6vw
      line-height: 1.8
